.product-card {
  width: 325px;
  height: 450px;
  border-radius: 10px;
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  margin: 50px 0;
  position: relative;
}

.product-card__details {
  text-align: left;
  margin-left: 20px;
  margin-right: 15px;
}
.product-card__img {
  border-radius: 10px 10px 0 0;
}
.product-card__title {
  margin: 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  height: 70px;
}
.product-card__weight {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  width: 70px;
  margin-top: 5px;
}
.product-card__desc {
  color: #cfcfcf;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 5px;
  margin-bottom: 15px;
  height: 50px;
}
.product-card__buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-card__price {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.product-card__icon {
  margin-left: 12px;
}
.product-card__about {
  display: flex;
  justify-content: space-between;
  align-items: top;
}
.item-counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.item-counter__amount {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 0 20px;
}
.btn-change__amout {
  font-size: 35px;
  width: 65px;
  height: 45px;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.product-card__counter {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79b282;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 20px;
}
