.feature-card {
  box-sizing: border-box;
  width: 227px;
  height: 227px;
  color: white;
  background: rgba(80, 75, 74, 0.85);
  filter: blur(0.2px);
  padding: 70px 20px 40px 20px;
}
.feature-card:hover {
  color: #79b282;
  background: #504b4a;
  box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  cursor: pointer;
}
.feature-card img {
  filter: grayscale(100%) brightness(140%);
}
.feature-card:hover img {
  filter: grayscale(0%);
}
