.contacts {
  display: flex;
  /* justify-content: space-around; */
  /* height: 665px; */
  background-image: url('../../../assets/images/Map.png');
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: 100% 765px;
  position: relative;
  margin-top: -150px;
}
.contacts-content {
  margin-left: 110px;
  margin-top: 220px;
  width: 526px;
  height: 405px;
  border-radius: 15px;
  background: #2e2b2c;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 42px;
  text-align: left;
  margin-bottom: 40px;
}
.contacts-position {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #618967;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  left: 71%;
  top: 50%;
}
.contacts-position::before {
  content: '';
  position: absolute;
  top: 99px;
  left: 50px;
  transform: translateX(-50%) rotate(180deg); /* Обертання на 180 градусів */
  border-width: 10px; /* Збільшення розміру трикутника */
  border-style: solid;
  border-color: transparent transparent #618967 transparent;
}
.contacts-content__title {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts-content__description {
  border-top: 2px solid;
  border-style: solid;
  border-width: 1px 0px 1px 0;
  border-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border-image-slice: 1;

  border-bottom: 2px solid;
}
.contacts-content__info {
  display: block;
  color: #cfcfcf;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}
.contacts-content__adress {
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  background-image: url('../../../assets/svg/Location2.svg');
  background-repeat: no-repeat;
  background-position: 0px 5px;
  margin: 20px 0px;
}
.contacts-content__mail {
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 30px;
  background-image: url('../../../assets/svg/Message.svg');
  background-repeat: no-repeat;
  background-position: 0px 5px;
  margin: 20px 0px;
}
.contacts-reservation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
.contacts-reservation__number {
  display: block;
  font-size: 23px;
  font-weight: 700;
  margin-left: -10px;
}
.contacts-reservation__info {
  color: #cfcfcf;
  font-size: 13px;
  font-weight: 400;
}
.contacts-reservation__btn {
  padding: 30px 22px;
}
.contacts-social {
  /* color: #FFF; */
  display: flex;
  column-gap: 11px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.contacts-social__info {
  margin-right: 15px;
}
